{% load cms_tags menu_tags %}
{% load static %}
{% block nav %}

<nav class="navbar navbar-default navbar-custom navbar-fixed-top navbar-inverse bg-primary">
        <div class="container-fluid" style="    max-width: 1150px;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a href="/home"><div class="logo-mobile"></div></a>
                <button id="resButton" type="button" class="navbar-toggle" data-toggle="collapse" onclick="menuclick()" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/home">EZ Ecommerce</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="child sibling">
                        <a href="/">
                            <span class="logo-header"></span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% show_menu 0 100 100 100 "component/menu.html" %}
                    
                    <li class="child sibling">
                        <a href="/en/home/catalog/">
                            <span class="logo-header">Products</span>
                        </a>
                    </li>

                    {% if user.is_staff %}
                    <li class="child sibling">
                        <a href="/ez_admin">
                            <span class="logo-header">Admin</span>
                        </a>
                    </li>
                    {% endif %}
                    
                    {% if request.user.id == None %}
                    <li class="child sibling">
                        <a href="/login">
                            <span class="logo-header">Login</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="child sibling">
                        <a href="/logout">
                            <span class="logo-header">Logout {{request.user.first_name}}</span>
                        </a>
                    </li>
                    {% endif %}
                    
                    <li class="child sibling">
                        <div class="cart box_1">
                            <a href="/home/checkout">
                                <div class="total">
                                <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)</div>
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                            </a>
                            <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
                            <div class="clearfix"> </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</nav>


<style>

header .container{
    height: 410px;
}

.navbar-custom .nav li a{
        font-weight: 500 !important;
}

#phone{
        padding-left: 50px !important;
}

.intl-tel-input{
    width: 100% !important;
}

</style>
{% endblock %}