{% extends "master.html" %}
{% load static %}
{% block content %}

{% block shop_css %}
	{% include 'reference/css.html'%}
{% endblock %}
{% block shop_js %}
	{% include 'reference/js.html'%}
{% endblock %}
<!--header//-->

<div class="product-model">	 
	 <div class="container">
			<ol class="breadcrumb">
		  <li><a href="index.html">Home</a></li>
		  <li class="active">Products</li>
		 </ol>
			<h2>Our Products <br><span style="font-size: 11px;">{{products_list.count}} products</span></h2>			
		 <div class="col-md-9 product-model-sec">
			{% for product in products %}
				<a href="/home/product/{{product.slug}}"><div class="product-grid">
				<div class="more-product"><span> </span></div>						
				<div class="product-img b-link-stripe b-animate-go  thickbox">
					<img src="{% static 'images/text.png' %}" class="img-responsive" alt="">
					<div class="b-wrapper">
					<h4 class="b-animate b-from-left  b-delay03">							
					<button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
					</h4>
					</div>
				</div>
				</a>						
				<div class="product-info simpleCart_shelfItem">
					<div class="product-info-cust prt_name">
						<h4>{{product.title}}</h4>								
						<span class="item_price">${{product.price}}</span>
						
						<input type="text" class="item_quantity" value="1" />
						<input type="button" class="item_add items" value="ADD">
						<div class="clearfix"> </div>
					</div>
				</div>
				</div>
			{% endfor %}
			<div class="col-md-12">
				<div class="pagination">
					<span class="step-links">
						{% if products.has_previous %}
							<a href="?page={{ products.previous_page_number }}">previous</a>
						{% endif %}

						<span class="current">
							Page {{ products.number }} of {{ products.paginator.num_pages }}.
						</span>

						{% if products.has_next %}
							<a href="?page={{ products.next_page_number }}">next</a>
						{% endif %}
					</span>
				</div>
			</div>		 
					
			</div>
			<div class="rsidebar span_1_of_left">
				 <section  class="sky-form">
					 <div class="product_right">
						 <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categories</h4>
						 <div>
							   <a href="/en/home/catalog/">
								<ul class="place">								
									<li class="sort">All</li>
										<div class="clearfix"> </div>
								</ul>
							   </a>
							</div>
						 {% for category in categories %}
						 	{% if category.father_category == None %}
							<div class="tab{{forloop.counter}}">
								<ul class="place">								
									<li class="sort">{{category.title}}</li>
										<div class="clearfix"> </div>
								</ul>
								<div class="single-bottom">
									<a href="/en/home/catalog/?category={{category.id}}"><p>{{category.title}}</p></a>
									{% for child_category in category.child_categories %}					
										<a href="/en/home/catalog/?category={{child_category.id}}"><p>{{child_category.title}}</p></a>
									{% endfor %}
								</div>
							</div>
							{% endif %}
						 {% endfor %}
						 
						 <script>
							$(document).ready(function(){
								$(".tab1 .single-bottom").hide();
								$(".tab2 .single-bottom").hide();
								$(".tab3 .single-bottom").hide();
								$(".tab4 .single-bottom").hide();
								$(".tab5 .single-bottom").hide();
								
								$(".tab1 ul").click(function(){
									$(".tab1 .single-bottom").slideToggle(300);
									$(".tab2 .single-bottom").hide();
									$(".tab3 .single-bottom").hide();
									$(".tab4 .single-bottom").hide();
									$(".tab5 .single-bottom").hide();
								})
								$(".tab2 ul").click(function(){
									$(".tab2 .single-bottom").slideToggle(300);
									$(".tab1 .single-bottom").hide();
									$(".tab3 .single-bottom").hide();
									$(".tab4 .single-bottom").hide();
									$(".tab5 .single-bottom").hide();
								})
								$(".tab3 ul").click(function(){
									$(".tab3 .single-bottom").slideToggle(300);
									$(".tab4 .single-bottom").hide();
									$(".tab5 .single-bottom").hide();
									$(".tab2 .single-bottom").hide();
									$(".tab1 .single-bottom").hide();
								})
								$(".tab4 ul").click(function(){
									$(".tab4 .single-bottom").slideToggle(300);
									$(".tab5 .single-bottom").hide();
									$(".tab3 .single-bottom").hide();
									$(".tab2 .single-bottom").hide();
									$(".tab1 .single-bottom").hide();
								})	
								$(".tab5 ul").click(function(){
									$(".tab5 .single-bottom").slideToggle(300);
									$(".tab4 .single-bottom").hide();
									$(".tab3 .single-bottom").hide();
									$(".tab2 .single-bottom").hide();
									$(".tab1 .single-bottom").hide();
								})	
							});
						</script>
						<!-- script -->					 
				 </section>
				 
				 <section  class="sky-form">
					 <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>DISCOUNTS</h4>
					 <div class="row row1 scroll-pane">
						 <div class="col col-4">
								<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Upto - 10% (20)</label>
						 </div>
						 <div class="col col-4">
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>40% - 50% (5)</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>30% - 20% (7)</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>10% - 5% (2)</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other(50)</label>
						 </div>
					 </div>
				 </section>  				 
				   
				
				   <!---->
					 <script type="text/javascript" src="js/jquery-ui.min.js"></script>
					 <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
					<script type='text/javascript'>//<![CDATA[ 
					$(window).load(function(){
					 $( "#slider-range" ).slider({
								range: true,
								min: 0,
								max: 100000,
								values: [ 500, 100000 ],
								slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
								}
					 });
					$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );

					});//]]> 
					</script>
					 <!---->
  
				   
				 <section  class="sky-form">
						<h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Type</h4>
							<div class="row row1 scroll-pane">
								<div class="col col-4">
									<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Lights (30)</label>
								</div>
								<div class="col col-4">
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Diwali Lights   (30)</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Tube Lights      (30)</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>LED Lights        (30)</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Bulbs  (30)</label>
									<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Ceiling Lights  (30)</label>
								</div>
							</div>
				   </section>
				   			   
			 </div>				 
	      </div>
		</div>
</div>
<div class="footer">
	 <div class="container">
		 <div class="footer-grids">
			 <div class="col-md-3 about-us">
				 <h3>About Us</h3>
				 <p>Maecenas nec auctor sem. Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate arcu eu pulvinar. Fusce vel neque diam</p>
			 </div>
			 <div class="col-md-3 ftr-grid">
					<h3>Information</h3>
					<ul class="nav-bottom">
						<li><a href="#">Track Order</a></li>
						<li><a href="#">New Products</a></li>
						<li><a href="#">Location</a></li>
						<li><a href="#">Our Stores</a></li>
						<li><a href="#">Best Sellers</a></li>	
					</ul>					
			 </div>
			 <div class="col-md-3 ftr-grid">
					<h3>More Info</h3>
					<ul class="nav-bottom">
						<li><a href="login.html">Login</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><a href="#">Shipping</a></li>
						<li><a href="#">Membership</a></li>	
					</ul>					
			 </div>
			 <div class="col-md-3 ftr-grid">
					<h3>Categories</h3>
					<ul class="nav-bottom">
						{% for category in categories %}
						<li><a href="#">{{category.title}}</a></li>
						{% endfor %}	
					</ul>					
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<div class="copywrite">
	 <div class="container">
		 <div class="copy">
			 <p>© 2015 Lighting. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
		 </div>
		 <div class="social">							
				<a href="#"><i class="facebook"></i></a>
				<a href="#"><i class="twitter"></i></a>
				<a href="#"><i class="dribble"></i></a>	
				<a href="#"><i class="google"></i></a>	
				<a href="#"><i class="youtube"></i></a>	
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---->

<script>
	$('.demo3').bootpag({
		total: 9,
		page: 5,
		maxVisible: 6,
		href: "#pro-page-{{number}}",
		leaps: false,
		next: 'next',
		prev: null
	}).on('page', function(event, num){
		$(".product-model-sec").html("Page " + num); // or some ajax content loading...
	});
</script>

{% endblock %}