{% extends "master.html" %}
{% load static %}
{% block content %}

{% block shop_css %}
	{% include 'reference/css.html'%}
{% endblock %}
{% block shop_js %}
	{% include 'reference/js.html'%}
{% endblock %}
<!--header//-->
<div class="product">
	 <div class="container">				
		 <div class="product-price1">
			 <div class="top-sing">
				  <div class="col-md-7 single-top">	
					 <div class="flexslider">
							  <ul class="slides">
								<li data-thumb="{% static 'images/single-big.png' %}">
									<div class="thumb-image ">
										<img src="{% static 'images/single-big.png' %}" data-imagezoom="true" class="img-responsive item_image" alt=""/>
									</div>
								</li>
								<li data-thumb="{% static 'images/single-big.png' %}">
									 <div class="thumb-image"> <img src="{% static 'images/single-big.png' %}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li>
								<li data-thumb="{% static 'images/single-big.png' %}">
								   <div class="thumb-image"> <img src="{% static 'images/single-big.png' %}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li> 
							  </ul>
						</div>					 					 
					 <script src="js/imagezoom.js"></script>
						<script defer src="js/jquery.flexslider.js"></script>
						<script>
						// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});
						</script>

				 </div>	
			     <div class="col-md-5 single-top-in simpleCart_shelfItem">
					  <div class="single-para ">
						  <img alt="image" src="http://placehold.it/100x100" style="display: none" class="item_image"/>
						 <h4  class="item_name">{{product.title}} </h4>							
							<h5 class="item_price" id="price">$ {{product.price|safe}}</h5>							
							<p class="para">{{product.short_description|safe}}</p>
							<div class="prdt-info-grid">
								 <ul>
									 <li>- Length : {{product.length}}</li>
									 <li>- Width : {{product.width}}</li>
									 <li>- Weight : {{product.weight}}</li>
								 </ul>
							</div>
							{% for attribute in attributes %}
							  {% if attribute.id in just_attributes %}
							  		<div class="form-group">
									<label>{{attribute.name}}</label>
									<select class="form-control" name="" id="{{attribute.name}}">
										<option value="">Select</option>
									{% for pattribute in pattributes %}
										
										{% if pattribute.attribute == attribute%}
											<option value="{{pattribute.value}}">{{pattribute.value}}</option>
										{% endif %}
									{% endfor%}
									</select>
									</div>
							  {% endif %}
							{% endfor %}
							
							<a href="#" class="add-cart item_add">ADD TO CART</a>							
					 </div>
				 </div>
				 <div class="clearfix"> </div>
			 </div>
	     </div>
		 <div class="bottom-prdt">
			 <div class="btm-grid-sec">
				 <div class="col-md-2 btm-grid">
					 <a href="product.html">
						<img src="{% static 'images/small-img.png' %}" alt=""/>
						<h4>Product#1</h4>
						<span>$1200</span></a>
				 </div>
				 <div class="col-md-2 btm-grid">
					 <a href="product.html">
						<img src="{% static 'images/small-img.png' %}" alt=""/>
						<h4>Product#1</h4>
						<span>$700</span></a>
				 </div>
				 <div class="col-md-2 btm-grid">
					  <a href="product.html">
						<img src="{% static 'images/small-img.png' %}" alt=""/>
						<h4>Product#1</h4>
						<span>$1300</span></a>
				 </div>
				 <div class="col-md-2 btm-grid">
					  <a href="product.html">
						<img src="{% static 'images/small-img.png' %}" alt=""/>
						<h4>Product#1</h4>
						<span>$9000</span></a>
				 </div>
				 <div class="col-md-2 btm-grid">
					  <a href="product.html">
						<img src="{% static 'images/small-img.png' %}" alt=""/>
						<h4>Product#1</h4>
						<span>$450</span></a>
				 </div>
				  <div class="clearfix"></div>
			 </div>			
		 </div>
	 </div>
</div>
<!---->

<!---->
<div class="footer">
	 <div class="container">
		 <div class="footer-grids">
			 <div class="col-md-3 about-us">
				 <h3>About Us</h3>
				 <p>Maecenas nec auctor sem. Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate arcu eu pulvinar. Fusce vel neque diam</p>
			 </div>
			 <div class="col-md-3 ftr-grid">
					<h3>Information</h3>
					<ul class="nav-bottom">
						<li><a href="#">Track Order</a></li>
						<li><a href="#">New Products</a></li>
						<li><a href="#">Location</a></li>
						<li><a href="#">Our Stores</a></li>
						<li><a href="#">Best Sellers</a></li>	
					</ul>					
			 </div>
			 <div class="col-md-3 ftr-grid">
					<h3>More Info</h3>
					<ul class="nav-bottom">
						<li><a href="login.html">Login</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><a href="#">Shipping</a></li>
						<li><a href="#">Membership</a></li>	
					</ul>					
			 </div>
			 <div class="col-md-3 ftr-grid">
					<h3>Categories</h3>
					<ul class="nav-bottom">
						<li><a href="#">Car Lights</a></li>
						<li><a href="#">LED Lights</a></li>
						<li><a href="#">Decorates</a></li>
						<li><a href="#">Wall Lights</a></li>
						<li><a href="#">Protectors</a></li>	
					</ul>					
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<div class="copywrite">
	 <div class="container">
		 <div class="copy">
			 <p>© 2015 Lighting. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
		 </div>
		 <div class="social">							
				<a href="#"><i class="facebook"></i></a>
				<a href="#"><i class="twitter"></i></a>
				<a href="#"><i class="dribble"></i></a>	
				<a href="#"><i class="google"></i></a>	
				<a href="#"><i class="youtube"></i></a>	
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
<!---->

	<script>
		total = '{{product.price|safe}}' * 1;
		total_original = '{{product.price|safe}}' * 1;

		{% for attribute in attributes %}
			{% if attribute.id in just_attributes %}
				$("#{{attribute.name}}").on("change", function(){
				{% for pattribute in pattributes %}
						{% if pattribute.attribute == attribute %}
							if($(this).val()=="{{pattribute.value}}")
							{
								total = total +  ("{{pattribute.alteration}}" * 1);
								$("#price").html("<span style='text-decoration: line-through; color:gray'>$" + total_original + "</span>   $"+ total);
							}
						{% endif %}
				{% endfor%}
				});
			{% endif %}
		{% endfor %}
	</script>


{% endblock %}