{% load static %}
{% block admin_css %}
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="{% static 'css/AdminLTE.min.css'%}">
<link rel="stylesheet" href="{% static 'css/_all-skins.min.css'%}">
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap3-wysihtml5.css' %}">
{% endblock %}