{% extends "login_master.html"%}

{% block content_wrapper %}
  <div class="login-box">
  <div class="login-logo" >
    <a style="color: white !important" href="/home"><b>Ez</b>Shop</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form method="post">
      {% csrf_token %}
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Email" name="username">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" name="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-12" style="margin-bottom: 45px;">
          <button type="submit" class="btn btn-primary btn-block btn-flat bg-navy">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    
    <!-- /.social-auth-links -->

    <a href="#">I forgot my password</a><br>
    <a href="/register/" class="text-center">Register as a new user</a>

  </div>
  <!-- /.login-box-body -->
</div>



  
{% endblock %}