<table id="example2" class="table table-bordered table-striped">
<thead>
<tr>
    <th>ID</th>
    <th>Category</th>
    <th>Main Category</th>
    <th>Action</th>
</tr>
</thead>
<tbody>
{% for category in categories %}
    <tr>
        <td>{{category.id}}</td>
        <td>{{category.title}}</td>
        <td>{{category.father_category}}</td>
        <td>
            <a href="/ez_admin/single_product/?id={{product.id}}">
            <button type="button" class="btn btn-block btn-primary btn-flat">Edit</button>
            </a>
        </td>
    </tr>
{% endfor %}
</tbody>
<tfoot>
<tr>
    <th>ID</th>
    <th>Category</th>
    <th>Main Category</th>
    <th>Action</th>
</tr>
</tfoot>
</table>