{% block sidebar %}
<div class="main-sidebar">
  <!-- Inner sidebar -->
  <div class="sidebar">
    <!-- user panel (Optional) -->
    <div class="user-panel" style="height: 80px;">
      <div class="pull-left image">
        
      </div>
      <div class="pull-left info">
        <p>{{request.user.first_name}} {{request.user.last_name}}</p>
      </div>
    </div><!-- /.user-panel -->

    <!-- Search Form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form><!-- /.sidebar-form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">HEADER</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="product-tab">
        <a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i><span>Products</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="/ez_admin/products/">All Products</a></li>
            <li><a href="/ez_admin/featured_products/">Featured Products</a></li>
            <li><a href="/ez_admin/single_product/?edit=0">Add New Product</a></li>
            <li><a href="/administrator/product/modified/">Added/Modified Products
                <span class="pull-right-container">
                  {% if product_edited != 0 %}
                  <span class="label label-warning pull-right">{{product_edited}}</span>
                  {% endif %}
                </span>
            </a> 
            
            </li>
            <li>
              <a href="/administrator/product/offer/">Offered Products</a>
            </li>
        </ul>
      </li>
      <li class="category-tab">
        <a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i><span>Categories</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li>
            <a href="/ez_admin/category">All Categories</a>
          </li>
          <li>
            <a href="/ez_admin/single_category/">New Category</a>
          </li>
          
        </ul>
      </li>
      <li class="manufacture-tab">
        <a href="#"><i class="fa fa-exchange" aria-hidden="true"></i><span>Manufacturer/Supplier</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li>
            <a href="/ez_admin/manufacturer_product/">All Manufacturer/Supplier</a>
          </li>
          <li class="new-manufacture-tab">
            <a href="/ez_admin/new_manufacturer_product/">Add new Manufacturer/Supplier</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-calendar-check-o" aria-hidden="true"></i><span>Orders</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="#">Order History</a></li>
          <li><a href="#">Saved Orders </a></li>
        </ul>
      </li>
      <li class="treeview user-tab">
        <a href="#"><i class="fa fa-users" aria-hidden="true"></i><span>Users</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/ez_admin/users">All Users</a></li>
          <li><a href="/ez_admin/register/">New User </a></li>
        </ul>
      </li>
      <li class="treeview user-tab">
        <a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span>Settings</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/admin/settings/configuration">Configuration </a></li>
          <li><a href="/ez_admin/users">Shop</a></li>
          <li><a href="/ez_admin/register/">New User </a></li>
        </ul>
      </li>
    </ul><!-- /.sidebar-menu -->

  </div><!-- /.sidebar -->
</div><!-- /.main-sidebar -->
{% endblock %}