{% extends "master_panel.html"%}
{% block content_wrapper %}
 <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box">
            <div class="box-header">
                <h3 class="box-title">Added/Modified Products</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row" style="padding-left: 10px;">

                  <div class="col-md-1" style="padding-left: 3px; padding-right: 3px">
                    <select class="form-control" name="" id="action_dd">
                        <option value="1">Edit</option>
                        <option value="2">Publish</option>
                    </select>
                  </div>
                  <div class="col-md-1" style="padding-left: 3px; padding-right: 3px">
                    <button id="btn_selected" class="btn btn-block btn-success btn-flat">Selected</button>
                  </div>
                  <div class="col-md-1" style="padding-left: 3px; padding-right: 3px">
                    <button id="btn_all" class="btn btn-block btn-success btn-flat">All</button>
                  </div> 
                  
                </div>
                <div style="height: 20px"></div>
                <div class="checkbox" style="padding-left: 10px;">
                            <label>
                              <input type="checkbox" class="checkbox" onclick="check_all(this)" > Check All
                            </label>
                          </div>
                <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th style="width: 40px;">Select</th>
                    <th>SKU</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>State</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="product-content">
                {% for product in products %}
                    <tr>
                        <th>
                          <div class="checkbox">
                            <label>
                              <input class="checkbox" id="{{product.id}}" value="{{product.id}}" type="checkbox">
                            </label>
                          </div>
                        </th>
                        <td>{{product.sku}}</td>
                        <td>{{product.title}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.category}}</td>
                        <td>
                            {% if product.state = 2 %}
                                Created
                            {% else %}
                                Modified
                            {% endif %}
                        </td>
                        <td>
                          <a href="/ez_admin/single_product/?id={{product.id}}">
                            <button type="button" class="btn btn-block btn-primary btn-flat">Edit</button>
                          </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>Select</th>
                   <th>SKU</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>State</th>
                    <th>Action</th>
                </tr>
                </tfoot>
                </table>
            </div>
           </div>
          <!-- /.box -->

          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>


<!-- /.box-body -->

<script>
  $(function () {
    $('#example2').DataTable();
  });
</script>
<script>
  $('.product-tab').addClass('active');
</script>
{% endblock %}