{% extends "master_panel.html"%}
{% block content_wrapper %}
 <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box">
            <div class="box-header">
                <h3 class="box-title">Product Catalog</h3>
                
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                  
                  <div class="col-md-2">
                    <select name="" class="form-control" id="">
                      <option value="">Select</option>
                      <option value="1">Edit</option>
                      <option value="2">Delete</option>
                    </select>
                  </div>
                  <div class="col-md-1">
                    <button type="button" onclick="all_product()" class="btn btn-block btn-success btn-flat">All</button>
                  </div>
                </div>

                <div class="row" style="display: none">
                  <div class="col-md-2">
                    
                    <label for="">Main Category</label>
                    <select name="" class="form-control" id="main_c">
                         <option value="0">Select</option>
                        {% for main_c in categories %}
                       
                            {% if main_c.father_category == None %}
                            <option value="{{main_c.id}}">{{main_c.title}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-2">
                    
                    <label for="">SubCategory 1</label>
                    <select name="" class="form-control" id="sc_1"></select>
                  </div>
                   <div class="col-md-2">
                    
                    <label for="">SubCategory 2</label>
                    <select name="" class="form-control" id="sc_2"></select>
                  </div>
                   <div class="col-md-2">
                    
                    <label for="">SubCategory 3</label>
                    <select name="" class="form-control" id="sc_3"></select>
                  </div>
                   <div class="col-md-2">
                    
                    <label for="">SubCategory 4</label>
                    <select name="" class="form-control" id="sc_4"></select>
                  </div>
                  <div class="col-md-2">
                    <label for=""></label>
                    <button class="btn btn-block btn-primary" onclick="load_products()">Load Categories</button>
                  </div>
                </div>
                <div style="height: 20px"></div>
                <div class="checkbox">
                            <label>
                              <input type="checkbox" class="checkbox" onclick="check_all(this)" > Check All
                            </label>
                          </div>
                <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th style="    width: 40px;">Select</th>
                    <th>SKU</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Created</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="product-content">
                {% for product in products %}
                    <tr>
                        <th>
                          <div class="checkbox">
                            <label>
                              <input class="checkbox" value="{{product.id}}" type="checkbox">
                            </label>
                          </div>
                        </th>
                        <td>{{product.sku}}</td>
                        <td>{{product.title}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.created}}</td>
                        <td>
                          <a href="/ez_admin/single_product/?id={{product.id}}">
                            <button type="button" class="btn btn-block btn-primary btn-flat">Edit</button>
                          </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>Select</th>
                   <th>SKU</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Created</th>
                    <th>Action</th>
                </tr>
                </tfoot>
                </table>
            </div>
           </div>
          <!-- /.box -->

          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>


<!-- /.box-body -->

<script>
  $(function () {
    $('#example2').DataTable();
  });
</script>
<script>
  $('.product-tab').addClass('active');
</script>
{% endblock %}