{% extends "master_panel.html"%}
{% block content_wrapper %}
 <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box">
            <div class="box-header">
                <h3 class="box-title">Categories</h3>
                
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                  <div class="col-md-2">
                    
                    <label for="">Main Category</label>
                    <select name="" class="form-control" id="main_c">
                         <option value="0">Select</option>
                        {% for main_c in categories %}
                       
                            {% if main_c.father_category == None %}
                            <option value="{{main_c.id}}">{{main_c.title}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-2">
                    
                    <label for="">SubCategory 1</label>
                    <select name="" class="form-control" id="sc_1"></select>
                  </div>
                   <div class="col-md-2">
                    
                    <label for="">SubCategory 2</label>
                    <select name="" class="form-control" id="sc_2"></select>
                  </div>
                   <div class="col-md-2">
                    
                    <label for="">SubCategory 3</label>
                    <select name="" class="form-control" id="sc_3"></select>
                  </div>
                   <div class="col-md-2">
                    
                    <label for="">SubCategory 4</label>
                    <select name="" class="form-control" id="sc_4"></select>
                  </div>
                  <div class="col-md-2">
                    <label for=""></label>
                    <button class="btn btn-block btn-primary" onclick="load_category()">Load Categories</button>
                  </div>
                </div>
                <div style="height: 20px"></div>
                <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Main Category</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="category-content">
                {% for category in categories %}
                    <tr>
                        <td>{{category.id}}</td>
                        <td>{{category.title}}</td>
                        <td>{{category.father_category}}</td>
                        <td>
                          <a href="/ez_admin/single_category/?id={{category.id}}">
                            <button type="button" class="btn btn-block btn-primary btn-flat">Edit</button>
                          </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Main Category</th>
                    <th>Action</th>
                </tr>
                </tfoot>
                </table>
            </div>
           </div>
          <!-- /.box -->

          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>


<!-- /.box-body -->

<script>
  $(function () {
    $('#example2').DataTable();
  });
</script>
<script>
  $('.category-tab').addClass('active');
</script>
{% endblock %}