{% extends "master_panel.html"%}
{% block content_wrapper %}
 <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box">
            <div class="box-header">
                <h3 class="box-title">Featured Product Catalog</h3>
                
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                  <div class="col-md-2">
                    <button type="button" class="btn btn-block btn-success btn-flat">Edit All</button>
                  </div>
                  <div class="col-md-2"> 
                      <button type="button" class="btn btn-block btn-primary btn-flat" data-toggle="modal" data-target="#myModal">Add New</button>
                  </div>
                </div>
                <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>SKU</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th style="    width: 15%;">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{product.sku}}</td>
                        <td>{{product.title}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.category}}</td>
                        <td>
                            <div class="col-md-6" style="padding: 0px 3px">
                                <a href="/ez_admin/single_product/?id={{product.id}}">
                                    <button type="button" class="btn btn-block btn-primary btn-flat">Edit</button>
                                </a>
                            </div>
                            <div class="col-md-6" style="padding: 0px 3px">
                                <button type="button" onclick="delete_featured_product('{{product.id}}')" class="btn btn-block btn-danger btn-flat">Delete</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                   <th>SKU</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
                </tfoot>
                </table>
            </div>
           </div>
          <!-- /.box -->

          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>



    
        <!-- Modal Add Product -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Product</h4>
            </div>
            <div class="modal-body">
                Choose Product
                <br>
                <div class="row">
                    <div class="col-md-10">
                        <select name="" id="featured_product_new" class="form-control">
                            {% for product_no_featured in all_products %}
                                <option value="{{product_no_featured.id}}">{{product_no_featured.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2" style="padding-left: 0px;">
                        <button class="btn btn-primary" onclick="add_new_featured_product()" style="width: 100%">Add</button>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="location.reload();" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>



      <!-- /.row -->
    </section>


<!-- /.box-body -->
<script>
  $('.product-tab').addClass('active');
</script>
<script>
  $(function () {
    $('#example2').DataTable();
  });
</script>
{% endblock %}