<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ez Shop | Welcome Page</title>
  {% block admin_css %}
    {% include 'reference/admin_css.html'%}
  {% endblock %}
  {% block admin_js %}
    {% include 'reference/admin_js.html'%}
  {% endblock %}
</head>
<body class="login-box bg-navy">
<!-- Site wrapper -->

    {% block content_wrapper %}
    {% endblock %}
  
  

</div>

</body>
</html>
