{% extends "master_panel.html"%}
{% block content_wrapper %}
 <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box">
            <div class="box-header">
                <h3 class="box-title">Manufacturer/Supplier</h3>
                
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <a href="/ez_admin/new_manufacturer_product/"><button class="btn btn-primary">Add new Manufacturer/Supplier</button></a>
                <div style="height: 20px"></div>
                <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Manufacturer/Supplier</th>
                    <th>URL</th>
                    <th style=" width: 25%;">Action</th>
                </tr>
                </thead>
                <tbody class="category-content">
                {% for manufacturer in manufacturers %}
                    <tr>
                        <td>{{manufacturer.id}}</td>
                        <td>{{manufacturer.title}}</td>
                        <td>{{manufacturer.url}}</td>
                        <td>
                        <div class="col-md-6">
                            <a href="/ez_admin/new_manufacturer_product/?id={{manufacturer.id}}">
                                <button type="button" class="btn btn-block btn-primary btn-flat">Edit</button>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/ez_admin/new_manufacturer_product/?id={{manufacturer.id}}&delete=1">
                                <button type="button" class="btn btn-block btn-danger btn-flat">Remove</button>
                            </a>
                        </div>
                          

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Manufacturer/Supplier</th>
                    <th>URL</th>
                    <th>Action</th>
                </tr>
                </tfoot>
                </table>
            </div>
           </div>
          <!-- /.box -->

          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>


<!-- /.box-body -->

<script>
  $(function () {
    $('#example2').DataTable();
  });
</script>
<script>
  $('.manufacture-tab').addClass('active');
</script>
{% endblock %}