{% if request.user.is_staff %}
  
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ez Shop | Welcome Page</title>
  {% block admin_css %}
    {% include 'reference/admin_css.html'%}
  {% endblock %}
  {% block admin_js %}
    {% include 'reference/admin_js.html'%}
  {% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  {% block header %}
    {% include 'component/nav_header.html'%}
  {% endblock %}

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  {% block sidebar %}
  {% include 'component/sidebar.html'%}
  {% endblock %}

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content_wrapper %}
    {% endblock %}
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.0.1
    </div>
    <strong>Copyright &copy; 2017 <a href="/home">EZ Ecommerce</a>.</strong> All rights
    reserved.
  </footer>

</div>

</body>
</html>
{% else %}
<script>
    window.location.href = "/home";
  </script>
{% endif %}