{% extends "master_panel.html"%}
{% load admin_tags %}
{% block content_wrapper %}


<section class="content">
      <div class="row">
        <form class="form-signin" method="POST">
        {% csrf_token %}   
        <div class="col-xs-8">
          <div class="box box-primary">
            <div class="box-header with-border">
              {% if create %}
                <h3 class="box-title">New Manufacturer/Supplier</h3>
              {% else %}
                <h3 class="box-title">Update Manufacturer/Supplier</h3>
              {% endif %}
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Manufacturer/Supplier Title:</label>
                  {{manufacturer_form.title|addcss:"form-control"}}
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Manufacturer/Supplier URL (Optiona):</label>
                  {{manufacturer_form.url|addcss:"form-control"}}
                </div>
               
               <div class="form-group">
                  <label for="exampleInputEmail1">Manufacturer/Supplier Description:</label>
                  {{manufacturer_form.description|addcss:"form-control"}}
                </div>
                
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                {% if create %}
                   <button type="submit" class="btn btn-primary">Add</button>
                {% else %}
                    <button type="submit" class="btn btn-primary">Update</button>
                {% endif %}
                
              </div>
            
          </div>
        </div>
        <div class="col-xs-4">
          
        </div>
        </form>
      </div>
</section>
<script>
  $('.textarea').wysihtml5();
</script>
<!-- Modal Add Product -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Product</h4>
    </div>
    <div class="modal-body">
        Choose Product
        <br>
        <div class="row">
            <div class="col-md-10">
                <select name="" id="featured_product_new" class="form-control">
                    {% for product_no_featured in all_products %}
                        <option value="{{product_no_featured.id}}">{{product_no_featured.title}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2" style="padding-left: 0px;">
                <button class="btn btn-primary" onclick="add_new_featured_product()" style="width: 100%">Add</button>
                
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="location.reload();" data-dismiss="modal">Close</button>
    </div>
    </div>
</div>
</div>

<script>
  $('.manufacture-tab').addClass('active');
  $('.new-manufacture-tab').addClass('active');
</script>

{% endblock %}