{% extends "master_panel.html"%}
{% load admin_tags %}
{% block content_wrapper %}

<section class="content">
      <div class="row">
        <form class="form-signin" method="POST">
        {% csrf_token %}   
        <div class="col-xs-5">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">User</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            
              <div class="box-body">
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Username *:</label>
                  <input type="text" name="username" class="form-control" value="{{edit_user.username}}" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Password *:</label>
                  <input type="password" name="password" class="form-control" value="{{edit_user.password}}" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">First Name *:</label>
                  <input type="text" name="first_name" class="form-control" value="{{edit_user.first_name}}" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Last Name *:</label>
                  <input type="text" name="last_name" class="form-control" value="{{edit_user.last_name}}" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Department:</label>
                  <input type="text" name="department" class="form-control" value="{{edit_user.details.department}}">
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Title:</label>
                  <input type="text" name="title" class="form-control" value="{{edit_user.details.title}}">
                </div>
                <div class="form-group col-md-12">
                  <label for="exampleInputEmail1">E-mail *:</label>
                  <input type="text" name="email" class="form-control" value="{{edit_user.email}}" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Cell Phone:</label>
                  <input type="tel" name="phone" class="form-control phone" value="{{edit_user.details.phone}}">
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Work Phone #:</label>
                  <input type="tel" name="work-phone" class="form-control phone" value="{{edit_user.details.work_phone}}">
                </div>
                <div class="form-group col-md-12">
                  <label for="exampleInputEmail1">Street Address*:</label>
                  <input type="tel" name="address" class="form-control " value="{{edit_user.details.address}}" required>
                </div>
                <div class="form-group col-md-12">
                  <label for="exampleInputEmail1">Street AddressLine 2:</label>
                  <input type="tel" name="address2" class="form-control " value="{{edit_user.details.address2}}">
                </div>
                <div class="form-group col-md-12">
                  <label for="exampleInputEmail1">Country*:</label>
                  <input type="tel" name="country" class="form-control " value="{{edit_user.details.country}}" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="exampleInputEmail1">State/Province*:</label>
                  <input type="tel" name="state" class="form-control " value="{{edit_user.details.state}}" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="exampleInputEmail1">City*:</label>
                  <input type="tel" name="city" class="form-control " value="{{edit_user.details.city}}" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="exampleInputEmail1">Postal/Zipcode*:</label>
                  <input type="tel" name="zipcode" class="form-control " value="{{edit_user.details.zipcode}}" required>
                </div>
                
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                {% if edit_user %}
                <button type="submit" class="btn btn-primary">Update</button>
                {% else %}
                <button type="submit" class="btn btn-primary">Create</button>
                {% endif %}
              </div>
            
          </div>
        </div>
        
        </form>
      </div>
</section>
<script>
  $('.user-tab').addClass('active');
</script>

{% endblock %}