{% extends "master_panel.html" %}
{% load admin_tags %}
{% block content_wrapper %}

<section class="content">
      <div class="row">
        <div class="col-xs-8">
             <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Change your password</h3>
                    </div>

                    <div class="box-body">

                        <div class="col-md-6">
                            <ul>
                                {{errors}}
                            </ul>
                            <form method="post">
                            {% csrf_token %}
                                <label for="id_old_password">Old password:</label>
                                <input autofocus="" id="id_old_password" name="old_password" class="form-control" type="password" required="">

                                <label for="id_new_password1">New password:</label>
                                <input id="id_new_password1" name="new_password1" type="password" class="form-control" required=""><br>
                                
                                <span class="helptext">
                                    <ul>
                                        <li>Your password can't be too similar to your other personal information.</li>
                                        <li>Your password must contain at least 8 characters.</li>
                                        <li>Your password can't be a commonly used password.</li>
                                        <li>Your password can't be entirely numeric.</li>
                                    </ul>
                                
                                </span>
                                <label for="id_new_password2">New password confirmation:</label>
                                <input id="id_new_password2" class="form-control" name="new_password2" type="password" required="">
                                <button type="submit" class="btn btn-primary" style="margin-top:10px">Save changes</button>
                            </form>
                        </div>
                    </div>

            </div>
        </div>
      </div>
</section>
{% endblock %}