{% extends "master_panel.html"%}
{% load admin_tags %}
{% block content_wrapper %}


<section class="content">
      <div class="row">
        <form class="form-signin" method="POST">
        {% csrf_token %}   
        <div class="col-xs-8">
          <div class="box box-primary">
            <div class="box-header with-border">
              {% if edit %}
              <h3 class="box-title">Edit Category</h3>
              {% else %}
              <h3 class="box-title">Create Category</h3>
              {% endif %}
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Title:</label>
                  {{category_form.title|addcss:"form-control"}}
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Main Category</label>
                  {{category_form.father_category|addcss:"form-control"}}
                </div>
               
                
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                {% if edit %}
                <button type="submit" class="btn btn-primary">Update</button>
                {% else %}
                <button type="submit" class="btn btn-primary">Create</button>
                {% endif %}
              </div>
            
          </div>
        </div>
        
        </form>
      </div>
</section>
<script>
  $('.textarea').wysihtml5();
</script>
<!-- Modal Add Product -->

<script>
  $('.category-tab').addClass('active');
</script>
{% endblock %}