{% extends "master_panel.html"%}
{% load widget_tweaks %}
{% load admin_tags %}
{% block content_wrapper %}


<section class="content">
      <div class="row">
        <form class="form-signin" method="POST">
        {% csrf_token %}   
        <div class="col-xs-8">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false">Basic Information</a></li>
                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Attributes</a></li>
                <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">Related Products</a></li>
            </ul>
            <div class="tab-content">

                <div class="tab-pane active" id="tab_1">
                    <div class="box-header with-border">
                    <h3 class="box-title">Edit Product</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    
                    <div class="box-body">
                        <div class="form-group">
                        <label for="exampleInputEmail1">Home Featured:</label>
                        {{product_form.home}}
                        </div>
                        <div class="form-group">
                          {% if not slug == "" %}
                          URL: <a href="/home/product/{{slug}}">{{product_form.title.value}}</a><br>
                          {% if not product.state == 1 %}
                            <label style="font-weight: 400; color: #999;">To see the product in the catalog or home, you need to publish first.</label>
                          {% else %}
                            <label style="font-weight: 400; color: #999;">Your Product is Published.</label>
                          {% endif %}
                          {% else %}
                          <label style="font-weight: 400; color: #999;">You need to save the product first to see the URL</label>
                          {% endif %}
                        </div>
                        <div class="form-group">
                        <label for="exampleInputEmail1">Title*:</label>
                        {{product_form.title|attr:"required"|addcss:"form-control"}}
                        </div>
                        <div class="form-group">
                        <label for="exampleInputPassword1">Category*:</label>
                        {{product_form.category|attr:"required"|addcss:"form-control"}}
                        </div>
                        <div class="form-group">
                        <label for="exampleInputFile">Short Description:</label>
                        {{product_form.short_description|addcss:"form-control textarea"}}
                        </div>
                        <div class="form-group">
                        <label for="exampleInputFile">Long Description:</label>
                        {{product_form.long_description|addcss:"form-control textarea"}}
                        </div>
                        <div class="form-group">
                        <label for="exampleInputFile">Featured Description:</label>
                        {{product_form.featured|addcss:"form-control textarea"}}
                        </div>
                    
                        
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        {% if edit %}
                        <button type="submit" class="btn btn-primary">Update</button>
                        {% else %}
                        <button type="submit" class="btn btn-primary">Create</button>
                        {% endif %}
                    </div>
                </div>

                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <div class="box box-primary">
                      <div class="box-header with-border">
                        <h3 class="box-title">Attributes</h3>

                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body" style="display: block;">
                        <ul class="products-list product-list-in-box" id="attribute_list">
                          
                          {% for attributes in list_attributes %}
                          {% if attributes.archived == False %}
                          <!-- /.item -->
                          <li class="item" id="{{attributes.id}}">
                            
                            <div class="product-info" style="    margin-left: 0px;">
                              <p class="product-title">{{attributes.name}} <span class="" style="cursor: pointer" onclick="delete_attribute('{{attributes.id}}')"><span class="label label-danger pull-right">X</span></span>
                              </p>
                                  <span class="product-description">
                                    {{attributes.description}}
                                  </span>
                            </div>
                          </li>
                          {% endif %}
                          {% endfor %}
                          
                          <!-- /.item -->
                        </ul>
                      </div>
                      <div class="box-footer text-center">
                          <a href="javascript:void(0)" data-toggle="modal" data-target="#addAttribute" class="uppercase">Add New Attribute</a>
                        </div>
                    </div>
                    <div class="box box-primary">
                      <div class="box-header with-border">
                        <h3 class="box-title">Product Attributes</h3>

                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                      </div>
                      <div class="box-footer text-center">
                          <a href="javascript:void(0)" data-toggle="modal" data-target="#addProductAttribute" class="uppercase">Add New Attribute</a>
                        </div>
                      <!-- /.box-header -->
                      <div class="box-body" style="display: block;">
                        <ul class="products-list product-list-in-box" id="attribute_product_list">
                          
                          {% for pattributes in list_product_attributes %}
                          <!-- /.item -->
                          <li class="item" id="p{{pattributes.id}}">
                            
                            <div class="product-info" style="    margin-left: 0px;">
                              <p class="product-title"><span class="sku-lbl"></span>-{{pattributes.sku}}</p>
                              
                              </p>
                                  <span class="product-description">

                                    <span class="label label-danger pull-right" style="cursor: pointer" onclick="delete_pattribute('{{pattributes.id}}')">X</span>


                                    <span data-toggle="modal" data-target="#addProductAttribute" class="label label-success pull-right" 
                                          onclick="edit_pattribute('{{pattributes.value}}','{{pattributes.alteration}}','{{pattributes.description}}','{{pattributes.attribute.id}}','{{pattributes.sku}}')" 
                                          style="margin-right: 5px; cursor: pointer">
                                      <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </span>
                                    <p class="product-title" style="color: #001f3f;">
                                      Attribute: <span style="font-weight: 300 !important">{{pattributes.attribute.name}}</span> <br>
                                      Value: <span style="font-weight: 300 !important">{{pattributes.value}}</span><br>
                                      Alteration: $<span style="font-weight: 300 !important">{{pattributes.alteration}}</span>
                                      <span class="" style="cursor: pointer" onclick="delete_pattribute('{{pattributes.id}}')"></span><br>
                                      Description: <span style="font-weight: 300 !important">{{pattributes.description}}</span>
                                  </span>
                            </div>
                          </li>
                          {% endfor %}
                          
                          <!-- /.item -->
                        </ul>
                      </div>
                      
                    </div>
                </div>

                <div class="tab-pane" id="tab_3">

                </div>

                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
            </div>
        </div>
        <div class="col-xs-4">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Product Details</h3>
            </div>
            <div class="box-body">
              <label style="color: #001f3f; font-weight: 500;">* Update With Warehouse</label><br>
                <label style="color: #001f3f; font-weight: 500;">** Update With Nationwide</label><br>
              <div class="form-group">
                <div class="btn btn-primary bg-navy col-md-6" onclick="warehouse('{{product.id}}')" style="padding-right: 5px;">
                  Update With Warehouse
                </div>
                <div class="btn btn-primary bg-navy col-md-6" style="padding-left: 5px;">
                  Update With Nationwide
                </div>
              </div>
              <div style="height: 40px;">
                
                <label id="last_update_lbl" style="color: #848484; font-weight: 500;">Last Update: {{last_update}}</label>
              </div>
              <br>
              <div class="form-group">
                <label for="exampleInputEmail1">Sale Price*:</label>
                {{product_form.price|attr:"required"|addcss:"form-control"}}
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">SKU #*:</label>
                {{product_form.sku|attr:"required"|addcss:"form-control"}}
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Manufacturer/Supplier Name:</label>
                {{product_form.mfr|addcss:"form-control"}}
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">Supplier Sale Price Factor*:</label>
                  {{product_form.factor|attr:"required"|addcss:"form-control"}}
              </div>
              <div class="form-group">
                <label>*Purchase Price</label>
                  {{product_form.mfr_purchase|addcss:"form-control scrape"}}
              </div>
              <div class="form-group">
                <label>**Purchase Price</label>
                  {{product_form.purchase_price_whs|addcss:"form-control"}}
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Manufacturer/Supplier Product URL:</label>
                {{product_form.mfr_url|addcss:"form-control"}}
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">*Length:</label>
                {{product_form.length|addcss:"form-control scrape"}}
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">*Width:</label>
                {{product_form.width|addcss:"form-control scrape"}}
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">*Weight:</label>
                {{product_form.weight|addcss:"form-control scrape"}}
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">*Warehouse Stock:</label>
                {{product_form.stock|addcss:"form-control scrape"}}
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Nationwide Stock:</label>
                {{product_form.nation_stock|addcss:"form-control"}}
              </div>
            </div>
          </div>

          
        </div>
        </form>
      </div>
</section>
<script>
  $('.textarea').wysihtml5();
</script>
<!-- Modal Add Product -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Product</h4>
    </div>
    <div class="modal-body">
        Choose Product
        <br>
        <div class="row">
            <div class="col-md-10">
                <select name="" id="featured_product_new" class="form-control">
                    {% for product_no_featured in all_products %}
                        <option value="{{product_no_featured.id}}">{{product_no_featured.title}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2" style="padding-left: 0px;">
                <button class="btn btn-primary" onclick="add_new_featured_product()" style="width: 100%">Add</button>
                
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="location.reload();" data-dismiss="modal">Close</button>
    </div>
    </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="addAttribute" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Attribute</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label >Attribute Name:</label>
          <input type="text" name="attribute" id="attr_name" class="form-control">
        </div>
        <div class="form-group">
          <label>Description:</label>
          <textarea name="description" class="form-control" id="attr_description" rows="5"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="save_attribute()">Save</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addProductAttribute" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Product Attribute</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <label > Name:</label>
            <div class="row">
              <div class="col-sm-2">
                  <label ><span class="sku-lbl"></span>-</label>
              </div>
              <div class="col-sm-10">
                  <input type="text" id="attr_name_product" class="form-control">
              </div>
            </div>
            
            
              
            
          </div>
          <div class="col-md-4">
            <label > Attribute:</label>
            <select class="form-control" id="attr_product">
              {% for attr in list_attributes %}
                {% if attr.archived == False %}
                <option value="{{attr.id}}">{{attr.name}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="col-md-4">
            <label> Value:</label>
            <input type="text"  name="attribute" id="value_prattr" class="form-control">
          </div>
          <div class="col-md-4">
            <label> Alteration:</label>
            <input type="number" step="0.1" name="attribute_prattr" id="alteration_prattr" class="form-control">
          </div>
          <div class="col-md-12">
            <label> Description:</label>
            <textarea type="text" name="attribute" id="description_prattr" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="save_product_attribute('{{id}}')">Save</button>
      </div>
    </div>
  </div>
</div>
<script>
  $('.product-tab').addClass('active');




$(window).on('load', function(){

});



</script>
{% endblock %}