{% extends "master_panel.html"%}
{% block content_wrapper %}
 <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box">
            <div class="box-header">
                <h3 class="box-title">Users</h3>
                
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                
                <div style="height: 20px"></div>
                <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>                    
                    <th>Member Since</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="category-content">
                {% for user in users %}
                  {% if user.is_active %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.details.phone}}</td>
                        <td>{{user.date_joined}}</td>
                        <td>
                          <div class="col-md-6">
                            <a href="/ez_admin/register/?id={{user.id}}&edit=1">
                              <button type="button" class="btn btn-block btn-primary btn-flat">Edit</button>
                            </a>
                          </div>
                          <div class="col-md-6">
                            <a href="/ez_admin/register/?id={{user.id}}&remove=1">
                              <button type="submit" class="btn btn-block btn-flat btn-danger">Remove</button>
                            </a>
                          </div>
                          
                           
                        </td>
                    </tr>
                  {% endif %}
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th> 
                    <th>Member Since</th>
                    <th>Action</th>
                </tr>
                </tfoot>
                </table>
            </div>
           </div>
          <!-- /.box -->

          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>


<!-- /.box-body -->

<script>
  $(function () {
    $('#example2').DataTable();
  });
</script>
<script>
  $('.user-tab').addClass('active');
</script>
{% endblock %}