.item-decrement
{
    width: 20px;
    float: left;
}

.item-quantity{
    width: 20px;
    float: left;
}

.item-increment{
    width: 20px;
    float: left;
}

.item-total{
    clear: both;
}

.headerRow{
    display: none;
}

.item-price{
        font-size: 20px;
    font-weight: 600;
}

.itemRow{
    padding: 20px;
    border-top: 1px solid;
}

.check-sec .simpleCart_total{
        font-size: 20px;
    color: #0275d8;
   padding: 0px;
}

.item-name{
    font-size: 24px;
    font-weight: 100;
    color: #040f5f;
}

