{% load static %}
{% block shop_js %}
<!-- jQuery 2.2.3 -->
<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/imagezoom.js' %}"></script>
<script src="{% static 'js/jquery.flexisel.js' %}"></script>
<script src="{% static 'js/jquery.flexslider.js' %}"></script>
<script src="{% static 'js/jquery.jscrollpane.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/memenu.js' %}"></script>
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script src="{% static 'js/simpleCart.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootpag/1.0.7/jquery.bootpag.js"></script>
{% endblock %}